.dots {
  position: absolute;
  right: -20px;
  top: 380%;
}

.rectangle {
  position: absolute;
  height: 100px;
  left: -70px;
  top: 345%;
}


/******************* Media Query ********************/

@media (max-width: 991px) {
  .dots, .rectangle {
    display: none;
  }
}