.separator-container {
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}

.line {
  width: 500px;
  height: 3px;
}

.text {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 25px;
  font-weight: 700;
}


.view-all {
  display: flex;
  align-items: center;
  font-size: 22px;
  gap: 10px;
}

.view-all:hover {
  cursor: pointer;
  color: var(--color-grey);
}

.hashtag {
  color: var(--color-purple);
}
.arrow {
  height: 20px;
}