.show {
  margin: 0;
  color: var(--color-white);
  font-size: 25px;
  margin-bottom: 50px;
}

.hashtag {
  color: var(--color-purple);
  font-weight: 600;
}

/**************** Media Query ********************/

@media (max-width: 991px) {
  .show {
    font-size: 20px;
    margin-bottom: 30px;
  }
}