.hero-container {
  display: flex;
  align-items: center;
  margin-top: 70px;
  gap: 50px;
}

.hero-container .hero-header {
  font-size: 35px;
  font-weight: 800;
  color: #FFFFFF;
}

.hero-container .header-color {
  color: #C778DD;
}

.hero-container .desc {
  font-size: 20px;
  color: #ABB2BF;
}

.hero-container button {
  font-size: 20px;
  padding: 10px 25px;
  background: transparent;
  color: #FFFFFF;
  border: 1px solid #C778DD;
  cursor: pointer;
}

.hero-container button:hover {
  background-color: #C778DD;
  color: #282C33;
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
}

.hero-container .image-container {
  position: relative;
  height: 390px;
}

.hero-container .image-container .random-lines {
  position: absolute;
  height: 200px;
  z-index: 0;
}

.hero-container .image-container .image1 {
  position: relative;
  z-index: 1;
}

.hero-container .image-container .dots {
  position: relative;
  bottom: 150px;
  left: 80%;
  z-index: 3;
}

.hero-container .image-container .working-on {
  position: relative;
  bottom: 36%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  border: 1px solid #ABB2BF;
  color: #ABB2BF;
  background-color: #282C33;
  z-index: 4;
  padding: 5px 5px;
}

.hero-container .image-container .working-on .focus {
  color: #FFFFFF;
}

.hero-container .image-container .working-on .rectangle {
  height: 20px;
  width: 20px;
  background-color: #C778DD;
}