.card-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  color: var(--color-grey);
}

.card-items {
  border: 1px solid var(--color-grey);
  max-width: 331px;
}

/* .project-img {
  margin: 0;
} */

.languages {
  border-bottom: 1px solid var(--color-grey);
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 0;
  word-break: break-all;
  line-height: 1.8;
}

.mini-container {
  padding: 10px;
  margin: 0;
}

.title {
  color: var(--color-white);
}

.arrow-img, .greater-img {
  height: 30px;
  width: 40px;
}