.directory-container {
  margin: 30px 0px 60px 0px;
}

.directory {
  font-size: 28px;
  color: var(--color-white);
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}

.directory .slash {
  color: var(--color-purple);
  font-size: 30px;
}

.description {
  margin: 0;
  color: var(--color-grey);
  font-size: 20px;
}


/********************* Media Query *************************/

@media (max-width: 991px) {
  .directory-container {
    margin: 30px 0px 30px 0px;
  }

  .directory {
    font-size: 22px;
  }

  .directory .slash {
    font-size: 22px;
  }

  .description {
    font-size: 16px;
  }
}