.sticky-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  left: 50px;
  top: 0;
}

.sticky-nav .vertical-line {
  height: 120px;
  width: 3px;
}

.sticky-nav .telegram {
  width: 35px;
  cursor: pointer;
}

.sticky-nav .github {
  width: 40px;
  cursor: pointer;
}

.sticky-nav .linkedin {
  cursor: pointer;
}

.sticky-nav .telegram:hover, .github:hover, .linkedin:hover {
  scale: 1.2;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container .logo p {
  font-weight: 900;
  font-size: 25px;
  color: #FFFFFF;
  cursor: pointer;
}

.nav-container .logo img {
  display: none;
}

.nav-container ul {
  list-style: none;
  display: flex;
  gap: 40px;
  font-size: 22px;
  color: #ABB2BF;
}

.nav-container ul li:hover {
  cursor: pointer;
  color: #FFFFFF;
}
.nav-container ul li:active {
  cursor: pointer;
  color: #FFFFFF;
}

.nav-container .mini-hashtag {
  color: #C778DD;
}

/****************** Media Query ********************/

@media (max-width: 991px) {
  .sticky-nav {
    display: none;
  }
  .nav-container {
    display: block;
    /* border: 1px solid red; */
    margin: 0;
    padding: 0px 10px;
  }
  .nav-container > .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .nav-container > .logo > p {
    margin: 0;
  }
  .nav-container .logo img {
    display: flex;
    height: 30px;
  }
  .nav-container .logo img:last-child {
    height: 20px;
  }
  .nav-container .open {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: flex-end;
    align-items: end;
    gap: 10px;
    border-bottom: 1px solid var(--color-grey);
    padding-bottom: 10px;
    max-height: 200px;
  }

  .nav-container ul {
    display: none;
    max-height: 0;
  }
  .nav-container ul li {
    margin: 0;
  }
}