:root {
  --color-purple: #C778DD;
  --color-grey: #ABB2BF;
  --color-bg: #282C33;
  --color-white: #FFFFFF;
}

@font-face {
  font-family: theOne;
  src: url(./assets/font/FiraCodeRegular.ttf);
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

html,
body {
  background-color: #282C33;
  font-family: theOne;
}

body #root {
  padding: 5px 10% 5px;
}