/* decoration start */

.decoration .dots {
  position: absolute;
  left: -50px;
}

.decoration > .semi-rectangle {
  position: absolute;
  right: -130px;
  top: 170%;
  height: 200px;
}

/* decoration end */

.card-container {
  display: flex;
  justify-content: space-between;
  color: var(--color-grey);
  gap: 10px;
  padding: 0;
  margin-bottom: 100px;
}


/************* Media Query ******************/

@media (max-width: 991px) {
  .decoration .dots, .semi-rectangle {
    display: none;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .card-container:first-child {
    width: 80%;
  }
}